# Arquivos e pastas a serem ignorados pelo Git

# Arquivos de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Arquivos temporários
*.csv
*.sqlite3

# Logs
*.log

# Ignorar pastas e arquivos do Airflow
airflow/logs/
airflow/plugins/
airflow/__pycache__/
__pycache__/
.env
*.pyc
*.pyo
*.sqlite
